<!DOCTYPE html>
<html>
<head>
	<title>Weather API demo</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<center><h1 class="title-bar">Weather API Demo</h1></center>
<hr/>
<br/><br/><br/><br/><br/>
	<div style="text-align: center;">
		<div class="text-div">
			<br/>
			<p>Welcome to the Weather App for Flask API usage demonstration.</p>
			<p>This app is built using Python Flask framework and used the Weather API.</p>
			<br/>
		</div>
		<div class="submit-box">
			<br/>
			<span class="write"></span>
			<script type="text/javascript">
							$(function(){
						        $(".write").typed({
						            strings: ["Let's get started!", "Enter the City...", "... And click on Submit!"],
						            typeSpeed: 100,
						            backDelay: 2000, // pause before backspacing
						            loop: !0, // here
						    		startDelay: 1000,
						        });
						    });
						</script>
			<br/>
			<img src="../static/images/weather.png" class="weather-img">
			<div style="border: 20px; border-radius: 20px;">
				<form action="/process/" method="post">
					<input type="text" name="city" class="city-input"> <br/><br/><br/>
					<button type="submit" name="submit" class="city-submit">Submit</button>
				</form>

			</div>
		</div>
</div>
</body>
</html>
